/* Nota: Si van de formato m贸vil a PC las media quarie debe ser: min-width. En cambio, si van de PC a m贸vil las media quaries debe decir: max-width. */




/* index */

/* Tablet 768 */

@media (max-width: 768px) {
    /* contenerdor padre */ 
    #grid-container {
        display: grid;
        grid-template-areas:"header"
                            "main"
                            "footer";
        grid-template-columns: 100%;
        grid-template-rows: auto 90% auto;
                          
    }

    /* header */
    .header {
        align-items: center;
        justify-content: center;
        padding: 16px;  
    }

    .logo {
        width: 120px;
        height: auto;
        padding: 16px;   
    }

    /* .menu ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-flow: nowrap;
        padding: 0 122px;            
    } */

    .menu ul li a {
        min-width: 120px;
        padding: 5px 5px;
        margin: 5px;
        font-size: 12px;
    }

    /*Submenu */
    .menu ul li ul li a {
        display: none;        
    }
   
    /* Main intro*/
    
    /* .main__index {    
        grid-template-columns: 100%;
        grid-template-rows: 10% 27% 29% 34%;
        gap: 8px;
    } */
    
    .intro,
    .intro1,
    .intro2,
    .intro3,
    .intro4 {    
        height: 200px;
    }

    .intro h1,
    .intro1 h1,
    .intro3 h1,
    .intro4 h1 {    
        font-size: 50px;
        letter-spacing: 2px;
    }

    .intro p {
        font-size: 28px;
    }

    /* Main secci贸n 1, 2 y 3*/
    .seccion1,
    .seccion2,
    .seccion3 {
        display: flex;
        flex-direction: column;
    }

    .seccion1__title,
    .seccion2__title,
    .seccion3__title,
    .aboutus1__title,
    .aboutus2__title,
    .contact__title,
    .location__title {
        font-size: 20px;
        letter-spacing: 1.2px;    
    }

    .item1,
    .item2,
    .item3 {
        width: 50%;
        
    }

    /* Equipo */

    .foto1,
    .foto2 {
        width: 60%;  
    }

    /* Ubicaci贸n y contacto */
    .article p {
        padding: 12px;
        height: 150px;
        font-size: 18px;
    }

    .article__foto {    
        width: 70%;
    }

    /* Footer */
    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;  
    }

    .footer img {
        width: 120px;
        height: auto;
        padding: 16px;   
    }

    .info h3 {
        padding: 4px;
        text-align: center;
        font-size: 24px;
    }

    .info ul {
        padding: 8px;
        min-width: 100px;
       
    }

    .info ul li a {
        text-align: center;
    }   
}

/* Page 1 Nosotros */

/* Page 2 Productos */

/* Page 3 Servicios */

/* Page 4 Contacto */
