* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #422419 74%);
    background-repeat: no-repeat;    
}

#grid-container {
    display: grid;
    grid-template-areas:"header"
                        "main"
                        "footer";
    grid-template-columns: 100%; 
    grid-template-rows: auto 90% auto;
    /* gap: 8px; */
    /* align-items: center; */
    justify-content: center;
    
    
}

/* Header */
.header {
    grid-area: header;
    background-color: #DF9C16;
    background-image: linear-gradient(90deg, #DF9C16 0%, #F7A400 80%, #FFD600 99%);
    display: flex;
    flex-flow: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 24px;
}

.logo {
    width: 7%;
    height: auto;
    padding: 4px;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0 122px;
    margin: 4px 0px;        
}

.menu ul li a {
    display: inline-block; 
    min-width: 150px;
    padding: 6px 12px;
    margin: 0 32px;
    background-color: rgb(0, 0, 0);
    border-radius: 14px;
    text-decoration: none;
    color: #E3E3E3;        
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.6px;
}

.menu ul li a:hover {
    color: black;
    background-color:#FCDEA4;
}

/* Submenú */
.menu ul li ul {
    display: none;/* oculto en reposo */
    position: absolute;
    margin: 0 -122px;          
}

.menu ul li:hover ul {
    display: block;/* visible mouse hover */    
}

.menu ul li ul li a {
    font-size: 14px;
    text-align: left;
    letter-spacing: 1.2px;
    min-width: 230px;
}



/* Main */
.main {
    grid-area: main;
}

.main__index {    
    display: grid;
    grid-template-areas:"intro"
                        "seccion1"
                        "seccion2"
                        "seccion3";
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr 1fr 1fr;
    gap: 8px;
    /* align-items: center; */
    /* justify-content: center; */
}

/* Intro */
.intro {
    grid-area: intro;
}

.intro,
.intro1,
.intro2,
.intro3,
.intro4 {    
    /* height: auto; */
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    background-image: url(..//img/front-view-1800px.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.intro div,
.intro1 div,
.intro2 div,
.intro3 div,
.intro4 div {
    height: 300px;
    width: -webkit-fill-available;
    background-color:rgba(0, 0, 0, 0.35);
    color: #E3E3E3;
    text-align: center;
    text-shadow: rgb(11, 11, 11) 2px 2px 1px;
    padding: 50px 0;
}

.intro h1,
.intro1 h1,
.intro2 h1,
.intro3 h1,
.intro4 h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 100; 
    font-size: 60px;
    letter-spacing: 2.8px;
}

.intro p {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
}

/* Sección 1: Productos destacados */
.seccion1 {
    grid-area: seccion1;
    display: grid;
    grid-template-areas:"seccion1__title seccion1__title seccion1__title"
                        "item1 item2 item3"
                        "bt1 bt1 bt1";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 8% 75% 17%;
   /*  gap: 8px; */
    background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);  
    justify-content: center;
    align-items: center;
    margin: 16px; 
}

.seccion1__title {
    grid-area: seccion1__title;
}

.seccion1__title,
.seccion2__title,
.seccion3__title,
.aboutus1__title,
.aboutus2__title,
.contact__title,
.location__title {
    /* margin: 10px 0px;
    padding-bottom: 16px; */
    color: #222121;
    text-align: center;
    text-shadow: rgb(210 197 197) 2px 2px 2px;
    font-size: 28px;
    letter-spacing: 1.6px;
}

.item1 {
    grid-area: item1;
} 

.item2 {
    grid-area: item2;
} 

.item3 {
    grid-area: item3;
}

.item1,
.item2,
.item3 {
    width: 100%;
    height: auto;
    border-radius: 40px;
    padding: 8px 16px;
    justify-items: center;
}

.bt1,
.bt2,
.bt3{
    grid-area: bt1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 32px 0 16px 0px;   
}

.bt1 a,
.bt2 a,
.bt3 a {
    background-color: black;
    min-width: 200px;
    padding: 10px 30px;
    border-radius: 7px;
    color: #E3E3E3;
    text-decoration: none;
    text-align: center;
    align-items: center;
}

.bt1 a:hover,
.bt2 a:hover,
.bt3 a:hover {
    color: black;
    background-color: #FCDEA4;
}

/* Equipo */
.seccion2 {
    grid-area: seccion2;
    display: grid;
    grid-template-areas:"seccion2__title seccion2__title seccion2__title"
                        "foto1 . foto2"
                        "info1 . info2"
                        "bt2 bt2 bt2";
    grid-template-columns: 48% 4% 48%;
    grid-template-rows: 8% 72% 10% 10%;
   /*  gap: 8px; */                        
    background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);  
    justify-items: center;
    /* justify-content: center; */
    align-items: center;
    margin: 16px; 
}

.seccion2__title {
    grid-area: seccion2__title;
}

.foto1 {
    grid-area: foto1;
    justify-content: center;
    align-items: center;
}

.foto2 {
    grid-area: foto2;
    justify-content: center;
    align-items: center;
}

.foto1,
.foto2 {
    width: 70%;
    height: auto;
    padding: 16px;
    border-radius: 25px;
    
}

.info1 {
    grid-area: info1;
    justify-content: center;
    align-items: center;
}

.info2 {
    grid-area: info2;
    justify-content: center;
    align-items: center;
}

.info1,
.info2 {
    color: #222121;
    /* text-shadow: rgb(11, 11, 11) 2px 2px 8px; */
    margin: 5px 20px;
    padding: 8px 8px;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;

}

.bt2 {
    grid-area: bt2;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 32px 0 16px 0px;  */  
}

/* .bt2 a {
    background-color: black;
    min-width: 200px;
    padding: 10px 30px;
    border-radius: 7px;
    color: #E3E3E3;
    text-decoration: none;
    text-align: center;
    align-items: center;
} */

/* .bt2 a:hover {
    color: black;
    background-color: #FCDEA4;
} */

/* Info y dirección */
.seccion3 {
    grid-area: seccion3;
    display: grid;
    grid-template-areas:"seccion3__title article__foto"
                        "article article__foto"
                        "bt3 article__foto";
    grid-template-columns: 40% 60%;
    grid-template-rows: 8% auto 15%;
    gap:8px;
    background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);  
    justify-items: center;
    align-items: center;
    padding: 8px;
    margin: 16px;
}

.seccio3__title {
    grid-area: seccion3__title;
}

.article {
    grid-area: article;
}


.article p {
    background-color: rgba(176, 176, 176, 0.8);
    min-width: 200px;
    height: 200px;
    margin: 56px;
    padding: 30px;
    color: black;
    text-align: left;
    font-size: 24px;
    align-items: center;
}

.article__foto {
    grid-area: article__foto;
}

.article__foto {    
    width: 75%;
    height: auto;
    justify-content: center;
    border-radius: 75px;
}

.bt3 {
    grid-area: bt3;
}
/* Footer */
.footer {
    grid-area: footer;
    background-color: #DF9C16;
    background-image: linear-gradient(90deg, #DF9C16 0%, #F7A400 80%, #FFD600 99%);
    display: flex;
    flex-flow: wrap;
    align-items:flex-start;
    justify-content: space-between;
    padding: 8px 24px;
}

.info h3 {
    padding: 4px 0px;
    font-size: 24px;
    font-family: 'Pacifico', cursive;
    font-weight: lighter;
    letter-spacing: 1.6px;
}

.info ul {
    display: block;
    list-style: none;
    padding: 0 0 8px 0;
    min-width: 200px;   
}

.info ul li a {
    color: black;
    text-decoration: none;
    text-align: justify;
    letter-spacing: 1.2px;
}

.footer a:hover {
    text-decoration: underline;
}

/* Page1 NOSOTROS */

.main__page1 {
    display: grid;
    grid-template-areas:"intro1"
                        "aboutus1"
                        "aboutus2";
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr 2fr;
    gap: 8px;
    align-items: center;
    
}

.intro1 {
    grid-area: intro1;
    padding: 16px 0;
}



.aboutus1 {
    grid-area: aboutus1;
}

.aboutus1 {
    display: grid;
    grid-template-areas:"aboutus1__title aboutus1__foto1"
                        "aboutus1__info1 aboutus1__foto1";
    grid-template-columns: 40% 60%;
    grid-template-rows: 8% auto;
    gap: 8px;
    background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
    justify-items: center;
    align-items: center;
    padding: 8px;
    margin: 16px;    
}

.aboutus1__title {
    grid-area: aboutus1__title;
}

.aboutus1__info1 {
    grid-area: aboutus1__info1;
}

.aboutus1__info1 {
    background-color: rgba(176, 176, 176, 0.8);
    min-height: 400px;
    margin: 56px;
    padding: 56px 16px;
    color: black;
    text-align: left;
    font-size: 20px;
    align-items: center;
}

.aboutus1__foto1 {
    grid-area: aboutus1__foto1;
}

.aboutus1__foto1 {    
    min-width: 65%;
    height: auto;
    justify-content: center;
    border-radius: 75px;
}

.aboutus2 {
    grid-area: aboutus2;
}

.aboutus2 {
    display: grid;
    grid-template-areas:"aboutus2__title ."
                        "aboutus2__foto2 aboutus2__info2"
                        "aboutus2__foto3 aboutus2__info3";
    grid-template-columns: 40% 60%;
    grid-template-rows: 8% auto;
    gap: 8px;
    background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
    justify-items: center;
    align-items: center;
    padding: 8px;
    margin: 16px;
}

.aboutus2__title {
    grid-area: aboutus2__title;
}

.aboutus2__info2 {
    grid-area: aboutus2__info2;
}

.aboutus2__info3 {
    grid-area: aboutus2__info3;
}

.aboutus2__info2,
.aboutus2__info3 {
    background-color: rgba(176, 176, 176, 0.8);
    padding: 24px;
    margin-right: 16px;
    text-align: justify;
    letter-spacing: 1px;
    justify-content: center;
    font-weight: 400;
    min-height: 400px;
}

.aboutus2__info2 ul li,
.aboutus2__info3 ul li {
    list-style: disc;
    margin: 0 16px;
    padding: 8px;
}

.aboutus2__foto2 {
    grid-area: aboutus2__foto2;
}

.aboutus2__foto3 {
    grid-area: aboutus2__foto3;
}

.aboutus2__foto2,
.aboutus2__foto3 {
    width: 70%;
    height: auto;
    margin: 32px;
    padding: 16px;
    border-radius: 25px;
}

/* Page2 PRODUCTOS */

.main__page2 {
    display: grid;
    grid-template-areas:"intro2 intro2"
                        "categorias gallery";
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr auto;
    /* gap: 8px; */
    align-items: flex-start;
    
}

.intro2 {
    grid-area: intro2;
}

/* Menú por categorias */

.categorias {
    grid-area: categorias;
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
    justify-content: flex-start;
    align-items: flex-start;
    margin: 16px;
    height: 100vh;
}

.categorias h3 {
    margin-left: 16px;
}
.categorias__items ul {
    list-style: none;
    padding: 0 0 8px 0;
    min-width: 200px;
   
}

.categorias__items ul li a {
    color: black;
    padding: 8px;
    margin-left: 16px;
    text-decoration: none;
    text-align: justify;
    letter-spacing: 1.2px;
}

.categorias__items a:hover {
    text-decoration: underline;
}

/* Galeria de productos */
.gallery {
    grid-area: gallery;
    display: grid;
    grid-template-areas:"gallery1"
                        "gallery2"
                        "gallery3"
                        "gallery4";
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    /* gap: 16px; */
    background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
    margin: 16px;
}

/* Galeria 1 Pasteleria */
.gallery1 {
    grid-area: gallery1;
    display: grid;
    grid-template-areas:"gallery1__title"
                        "gallery1__items"
                        "g1__bt";
    grid-template-columns: 100%;
    grid-template-rows: 7% auto 11%;
    /* gap: 8px; */
}

.gallery1__title {
    grid-area: gallery1__title;
}

.gallery1__title,
.gallery2__title,
.gallery3__title,
.gallery4__title {
     /* margin: 10px 0px;
    padding-bottom: 16px; */
    color: #222121;
    text-align: left;
    margin-left: 16px;
    text-shadow: rgb(210 197 197) 2px 2px 2px;
    font-size: 18px;
    letter-spacing: 1.6px;
}

.gallery1__items {
    grid-area: gallery1__items;
}

.gallery1__items,
.gallery2__items,
.gallery3__items,
.gallery4__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    align-content: center;
    justify-items: center;
}

.gallery1__items img,
.gallery2__items img,
.gallery3__items img,
.gallery4__items img {
    width: 80%;
    padding: 8px;
    margin: 8px;
    border-radius: 15px;
    filter: grayscale(1);
}

.gallery1__items img:hover,
.gallery2__items img:hover,
.gallery3__items img:hover,
.gallery4__items img:hover {
    filter: none;
}

.g1__bt {
    grid-area: g1__bt;
}

.g1__bt,
.g2__bt,
.g3__bt,
.g4__bt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;   
}

.g1__bt a,
.g2__bt a,
.g3__bt a,
.g4__bt a {
    background-color: black;
    min-width: 200px;
    padding: 10px 30px;
    border-radius: 7px;
    color: #E3E3E3;
    text-decoration: none;
    text-align: center;
    align-items: center;
}

.g1__bt a:hover,
.g2__bt a:hover,
.g3__bt a:hover,
.g4__bt a:hover {
    color: black;
    background-color: #FCDEA4;
}

/* Galeria 2 Panificados */
.gallery2 {
    grid-area: gallery2;
    display: grid;
    grid-template-areas:"gallery2__title"
                        "gallery2__items"
                        "g2__bt";
    grid-template-columns: 100%;
    grid-template-rows: 7% auto 11%;
    gap: 8px;
}

.gallery2__title {
    grid-area: gallery2__title;
}

.gallery2__items {
    grid-area: gallery2__items;
}


.g2__bt {
    grid-area: g2__bt;
}


/* Galeria 3 Bolleria francesa */
.gallery3 {
    grid-area: gallery3;
    display: grid;
    grid-template-areas:"gallery3__title"
                        "gallery3__items"
                        "g3__bt";
    grid-template-columns: 100%;
    grid-template-rows: 7% auto 11%;
    gap: 8px;
}

.gallery3__title {
    grid-area: gallery3__title;
}

.gallery3__items {
    grid-area: gallery3__items;
}

.g3__bt {
    grid-area: g3__bt;
}

/* Galeria 4 alfajores y chocolateria */
.gallery4 {
    grid-area: gallery4;
    display: grid;
    grid-template-areas:"gallery4__title"
                        "gallery4__items"
                        "g4__bt";
    grid-template-columns: 100%;
    grid-template-rows: 7% auto 11%;
    gap: 8px;
}

.gallery4__title {
    grid-area: gallery4__title;
}

.gallery4__items {
    grid-area: gallery4__items;
}

.g4__bt {
    grid-area: g4__bt;
}

/* Page3 SERVICIOS */

.main__page3 {
    display: grid;
    grid-template-areas:"intro3 intro3"
                        "service contactus__page3";
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr auto;
    /* gap: 8px; */
    align-items: center;
}

.intro3 {
    grid-area: intro3;
}

.service {
    grid-area: service;
}

.service {
    display: grid;
    grid-template-areas: "service1 service1__foto"
                         "service2__foto service2"
                         "service3__foto service3";
    grid-template-columns: 60% 40%;
    grid-template-rows: 20% auto auto;
    gap: 5px;
    background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin: 16px;
}

.service1 {
    grid-area: service1;
}

.service2 {
    grid-area: service2;
}

.service3 {
    grid-area: service3;
}

.service1,
.service2,
.service3 {
    padding: 10px;
    color: black;
    font-size: 18px;
    text-align: left;
}

.service1__foto {
    grid-area: service1__foto;
    padding: 8px;
    margin-left: 16px;
    min-height: auto;
    min-width: 75%;
    border-radius: 35px;
}

.service2__foto {
    grid-area: service2__foto;
}

.service3__foto {
    grid-area: service3__foto;
}

.service2__foto,
.service3__foto {
    padding: 8px;
    margin-left: 16px;
    min-width: 70%;
    height: auto;
    border-radius: 45px;
}

.contactus__page3 {
    grid-area: contactus__page3;
    background-color:#DF9C16;
    margin: 32px;    
    min-height: 200px;
    width: auto;
}

.contactus__page3 h2 {
    align-items: center;
    justify-items: center;
    background-color:rgba(0, 0, 0, 0.35);
    color: #E3E3E3;
    text-align: center;
    text-shadow: rgb(11, 11, 11) 2px 2px 1px;
    font-weight: bold;
    padding: 16px;
    margin: 8px;
}
     

.bt__p3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 32px;   
}

.bt__p3 a {
    background-color: black;
    min-width: 200px;
    padding: 10px 30px;
    border-radius: 7px;
    color: #E3E3E3;
    text-decoration: none;
    text-align: center;
    align-items: center;
}

.bt__p3 a:hover {
    color: black;
    background-color: #FCDEA4;
}

/* Animación */
@keyframes efecto {
    0% {
        background-color:#FCDEA4;
    }
    50% {
        background-color:#E3E3E3;
        transition: ease-in-out;
    }
    100% {
        background-color:#FFD600;
    }
}

.contactus__page3 {
    background-color:#F7A400;
    animation: efecto 1s linear 0s infinite alternate;
}


/* Page4 CONTACTO */

.main__page4 {
    display: grid;
    grid-template-areas:"intro4"
                        "contact"
                        "location";
    grid-template-columns: 100%;
    grid-template-rows: auto 32% 52%;
    gap: 8px;
    align-items: center;
}

.intro4 {
    grid-area: intro4;
}

/* Info y Contacto */
.contact {
    grid-area: contact;
}

.contact {
    display: grid;
    grid-template-areas:"contact__title contac__title"
                        "contact__info contact__form"
                        "contact__redes contact__form";
    grid-template-columns: 40% 60%;
    grid-template-rows: 16% auto auto;
    gap: 8px;
    background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
    /* justify-items: center;
    align-items: center; */
    padding: 8px;
    margin: 16px;
}

.contact__title {
    grid-area: contact__title;
}

.contact__info {
    grid-area: contact__info;
    padding: 16px 16px 0 16px;
    margin-top: 16px;
}

.contact__info p {
    text-align: left;
    margin-bottom: 16px;
}

.contact__info ul li {
    padding: 8px;
    margin: 8px 24px;
    text-decoration:solid;    
    line-height: 1.6px;

}

.contact__redes {
    grid-area: contact__redes;
    padding: 16px;
}

.contact__redes h3 {
    text-align: left;
    margin-bottom: 8px;
}

.contact__redes ul li {
    padding: 8px;
    margin: 8px 24px;
    text-decoration:solid;    
    line-height: 1.6px;
}

.contact__form {
    grid-area: contact__form;
}


/* Ubicación */
.location {
    grid-area: location;
}

.location {
    display: grid;
    grid-template-areas:"location__title location__foto"
                        "location__info location__foto"
                        "location__map location__foto";
    grid-template-columns: 40% 60%;
    grid-template-rows: 16% auto auto;
    gap: 8px;
    background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
    justify-items: center;
    align-items: center;
    margin: 0 16px;
    padding: 8px;
    margin-bottom: 16px
}

.location__title {
    grid-area: location__title;
}

.location__info {
    grid-area: location__info;
}

.location__foto {
    grid-area: location__foto;
}

.location__foto {
    min-width: 65%;
    height: auto;
    justify-content: center;
    border-radius: 75px;
}

.location__map {
    grid-area: location__map;
    margin: 0 0 0 16px;
    padding: 8px;
    background-color: #000000c2;
    border-radius: 8px;
    
}
